<header class="navbar navbar-fixed-top navbar-inverse" >
  <div class="container">
  <%= link_to "Simple App", root_path, id: "logo"%>
 <ul class="nav navbar-nav navbar-right">

   <li><%= link_to "Home", root_path %></li>
   <li><%= link_to "Animal list", animals_path %></li>
   <li><%= link_to "Contacts", contacts_path %></li>
   <li><%= link_to "About", about_path %></li>
   <li><%= link_to "All users", users_path %></li>
</ul>
</div>
</header>
